<div id='doc_show'>
    <%= render :partial => 'left_meta', :locals => {:document => @document} %>
    
    <div class='document' class='page_middle'>
        <% if @document.is_a?(Photo) %>
        <%= image_tag("/library/#{@document.filename}", :width => "700px", :alt => @document.name) %>
        <% else %>
            Document view for type <%= @document.class.name %> not yet available.
        <% end %>
    </div>
</div>
