<div id='doc_show'>
    <%= render :partial => 'left_meta', :locals => {:document => @document} %>
    
    <div class='document' class='page_middle'>
        There will be a preview here.
    </div>
</div>
