/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    width: 1024px;
    font-family: Arial;
    color: #333333;
    font-size: 13px;
}
.head {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 2px solid #999999;
}
.universe .page_left {
    width: 160px;
    float: left;
}
.universe .page_middle {
    width: 844px;
    float: left;
    padding-left: 20px;
}
.universe .pagination {
    padding: 10px;
    float: right;
}
a:link, a:visited {
    color: #5555bb;
}
